.row
  .col-sm-offset-4.col-sm-4
    %h2 Nýr staðfestingarpóstur
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f|
      .form-group= f.email_field :email, placeholder: 'Netfang', autofocus: true, class: 'form-control'
      .form-group= f.submit 'Endursenda staðfestingarpóst', class: 'btn btn-primary form-control'
