.row.registration
  .col-sm-offset-4.col-sm-4
    %h2 Gleymt lykilorð
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f|
      .form-group= f.email_field :email, autofocus: true, placeholder: 'Email address', required: true, class: 'form-control'
      .form-group= f.submit 'Endurstilla lykilorð', class: 'form-control btn btn-primary'
