@import 'bootstrap-components';

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
  outline: 0px !important;
  -webkit-appearance: none;
}

.navbar-default {
  background-color: #fff;
}

.content {
  margin-top: 50px;
}

.home {
  h1 {
    margin: 150px 0px 70px 0px;
    text-align: center;
  }

  .search {
    ul {
      margin-top: 10px;
      text-align: center;
    }

    input, button {
      border-radius: 0px;
    }
  }
}

.chapters, .chapter {
  h2 {
    margin: 45px 0px 35px 0px;
  }
}

.two-columns {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.registration {
  margin-top: 80px;
}
