%p Halló #{@resource.email}!
%p Einhver hefur beðið um hlekk til að breyta lykilorðinu þínu. Þú getur gert þetta á hlekknum hér að neðan.
%p= link_to 'Breyta lykilorði', edit_password_url(@resource, reset_password_token: @token)
%p Vinsamlegast hunsið þetta skeyti ef það barst röngum aðila.
%p Lykilorðinu verður ekki breytt fyrr en smellt er á hlekkinn og nýtt hefur verið búið til.
